.header {
  background-color: #757575; /* Fond légèrement plus foncé */
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre douce et élégante */
  border-radius: 16px; /* Bords arrondis */
  margin-bottom: 20px; /* Espacement sous le header */
  position: relative;
  top: 10%; /* Décalage vers le haut */
}

.header::before {
  position: absolute;
  top: -6px; /* Décalage vers le haut */
  left: 0;
  right: 0;
  height: 6px; /* Taille de la marche */
  background-color: #4e4e4e; /* Couleur de la marche */
  border-radius: 50% 50% 0 0; /* Arrondi en haut */
}

.header h1 {
  font-size: 2rem; /* Taille du titre plus grande pour une meilleure visibilité */
  margin: 0;
  font-weight: 700; /* Titre avec une font plus épaisse */
  letter-spacing: 1px; /* Espacement entre les lettres pour un style plus moderne */
}
