<div class="info-table-container">
    <table class="info-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Destination URL</th>
          <th>Tracking Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of jsonList">
          <td>{{ tag.id }}</td>
          <td>{{ tag.destinationUrl }}</td>
          <td>
            <span
              class="data-cell"
              [matTooltip]="tag.trackingData.length > 20 ? tag.trackingData : ''"
              matTooltipPosition="above">
              {{ tag.trackingData.length > 20 ? (tag.trackingData | slice:0:20) + '...' : tag.trackingData }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="jsonList.length === 0" class="empty-message">Aucun JSON à afficher.</p>
  </div>
  