<div class="app-container">
  <app-header></app-header>
  <div class="content">
    <div class="info-table-container">
      <app-info-table (jsonSelected)="onJsonFromTableSelected($event)" [jsonList]="allTags"></app-info-table>
    </div>

    <div class="search-bar-container">
      <app-search-bar (jsonSelected)="onJsonSelected($event)"></app-search-bar>
    </div>
    
    <div class="main-container">
      <div class="editor-container">
        <app-tag-editor 
          [jsonContent]="jsonContent" 
          [tagId]="selectedTagId" 
          (jsonChange)="onJsonChange($event)"
          (updateSuccess)="refreshTagList()">
        </app-tag-editor>
      </div>
      <div class="tree-view-container">
        <app-tree-view [jsonData]="parsedJson"></app-tree-view>
      </div>
    </div>
  </div>
</div>
