<div class="app-container">
  
  <app-header></app-header>
  <div class="content">

    <div class="info-table-container">
      <app-info-table></app-info-table>
    </div>

    <div class="main-container">
      <div class="editor-container">
        <app-tag-editor [jsonContent]="jsonContent" (jsonChange)="onJsonChange($event)"></app-tag-editor>
      </div>
      <div class="tree-view-container">
        <app-tree-view [jsonData]="parsedJson"></app-tree-view>
      </div>
    </div>
  </div>
</div>
