<div class="app-container">
  <app-header></app-header>
  <div class="content">
    <div class="info-table-container">
      <app-info-table
  [jsonList]="allTags"
  [selectedTagFromParent]="selectedTag"
  (jsonSelected)="onJsonFromTableSelected($event)"
></app-info-table>
    </div>

    <div class="search-bar-container">
      <app-search-bar (jsonSelected)="onJsonSelected($event)"></app-search-bar>
    </div>
    
    <div class="main-container">
      <div class="editor-container">
        <app-tag-editor 
          [jsonContent]="jsonContent" 
          [tagId]="selectedTagId" 
          (jsonChange)="onJsonChange($event)"
          (updateSuccess)="refreshTagList()">
        </app-tag-editor>
      </div>
      <div class="tree-view-container">
        <app-tree-view [jsonData]="selectedTag"></app-tree-view>
      </div>
    </div>
  </div>

  <div class="signature-container">
    <p><strong>Samy Hadj-Said</strong> - Aspiring to join Criteo for a Software Engineer Intern position in Backend, Frontend or Fullstack development.</p>
    <div class="signature-links">
      <p>Find me on <a href="https://www.linkedin.com/in/samy-hadj-said-515765259/" target="_blank">LinkedIn</a> or check out my <a href="https://github.com/samy-hadj" target="_blank">GitHub</a>.</p>
    </div>
  </div>
</div>
