/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

/* Header */
header {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
}

/* Content container with flex layout */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}

/* Info Table container style */
.info-table-container {
  width: 100%;
  max-width: 1200px; /* Limite la largeur maximale */
  padding: 20px;
  box-sizing: border-box;  /* Inclut padding dans la largeur totale */
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.info-table-container:hover {
  transform: scale(1.02);
}

/* Main container for editor and tree-view */
.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* TagEditor container style (70%) */
.editor-container {
  width: 70%;
  min-width: 600px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;  /* Inclure padding dans la largeur totale */
}

.editor-container:hover {
  transform: scale(1.02);
}

/* TreeView container style (30%) */
.tree-view-container {
  width: 30%;
  min-width: 350px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;  /* Inclure padding dans la largeur totale */
}

.tree-view-container:hover {
  transform: scale(1.02);
}

/* Responsive design for small screens */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  /* Pour les petits écrans, les containers se placent en colonne */
  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .editor-container,
  .tree-view-container {
    width: 90%;
  }
}

